*{
    background-color: #9999ff;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff1a1a;
    font-size: 70px;
    text-shadow: 2px 2px 8px #FF0000;
}